.container {
  // margin-top: 40px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
.tabs {
  display: flex;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
  padding: 0.75rem;
  border-radius: 1rem;
  * {
    z-index: 2;
  }
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 200px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 99px; // just a high number to create pill effect
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.tabhover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 350px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 99px; // just a high number to create pill effect
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

input[id="radio-1"] {
  &:checked {
    & ~ .glider {
      transform: translateX(0);
    }
  }
}

input[id="radio-2"] {
  &:checked {
    & ~ .glider {
      transform: translateX(200%);
    }
  }
}

input[id="radiohover-1"] {
  &:hover {
    & ~ .glider2 {
      transform: translateX(0%);
    }
  }
}

input[id="radiohover-2"] {
  &:hover {
    & ~ .glider2 {
      transform: translateX(285%);
    }
  }
}

input[id="radiohover-3"] {
  &:hover {
    & ~ .glider2 {
      transform: translateX(578%);
    }
  }
}

input[id="radiocheck-1"] {
  &:checked {
    & ~ .glider3 {
      transform: translateX(0%);
    }
  }
}

input[id="radiohovercheck-2"] {
  &:checked {
    & ~ .glider3 {
      transform: translateX(420%);
    }
  }
}

.glider {
  margin-bottom: 0.05rem;
  position: absolute;
  display: flex;
  height: 3px;
  bottom: 0;
  width: 100px;
  background-color: #6e93d941;
  left: 12%;
  z-index: 1;
  border-radius: 200px; // just a high number to create pill effect
  transition: 0.25s ease-out;
}

.glider2 {
  position: absolute;
  display: flex;
  height: 3px;
  bottom: 0;
  width: 150px;
  background-color: rgb(157, 218, 238);
  z-index: 1;
  left: 8%;
  border-radius: 200px; // just a high number to create pill effect
  transition: 0.25s ease-out;
}

.glider3 {
  position: absolute;
  display: flex;
  height: 3px;

  bottom: 0;
  width: 75px;
  background-color: rgb(157, 218, 238);
  z-index: 1;
  left: 14%;
  border-radius: 200px; // just a high number to create pill effect
  transition: 0.25s ease-out;
}

@media screen and (max-width: 600px) {
  .glider {
    display: none;
  }
  .glider2 {
    display: none;
  }
  .container {
    width: 80%;
  }
}
